samples/MapConductorSampleApp/Config/Secrets.xcconfig
build/
.build/
.derivedDataTest
.swiftpm
.derivedDataTest
.derivedDataTest
.DS_Store
**/.DS_Store
AGENTS.md
CLAUDE.md
.tmp-res/
.home
.tmp/
.*
Config/Secrets.xcconfig
