[submodule "ios-sdk-core"]
	path = ios-sdk-core
	url = git@github.com:MapConductor/ios-sdk-core.git
[submodule "ios-for-googlemaps"]
	path = ios-for-googlemaps
	url = git@github.com:MapConductor/ios-for-googlemaps.git
[submodule "ios-for-mapbox"]
	path = ios-for-mapbox
	url = git@github.com:MapConductor/ios-for-mapbox.git
[submodule "ios-for-mapkit"]
	path = ios-for-mapkit
	url = git@github.com:MapConductor/ios-for-mapkit.git
[submodule "ios-for-maplibre"]
	path = ios-for-maplibre
	url = git@github.com:MapConductor/ios-for-maplibre.git
[submodule "ios-heatmap"]
	path = ios-heatmap
	url = git@github.com:MapConductor/ios-heatmap.git
[submodule "ios-marker-clustering"]
	path = ios-marker-clustering
	url = git@github.com:MapConductor/ios-marker-clustering.git
[submodule "ios-for-arcgis"]
	path = ios-for-arcgis
	url = git@github.com:MapConductor/ios-for-arcgis.git
[submodule "ios-for-here"]
	path = ios-for-here
	url = git@github.com:MapConductor/ios-for-here.git
[submodule "ios-geojson-layer"]
	path = ios-geojson-layer
	url = git@github.com:MapConductor/ios-geojson-layer.git
[submodule "ios-for-maptiler"]
	path = ios-for-maptiler
	url = git@github.com:MapConductor/ios-for-maptiler.git
[submodule "ios-for-tomtom"]
	path = ios-for-tomtom
	url = git@github.com:MapConductor/ios-for-tomtom.git
[submodule "ios-for-longdo"]
	path = ios-for-longdo
	url = git@github.com:MapConductor/ios-for-longdo.git
[submodule "ios-icons"]
	path = ios-icons
	url = git@github.com:MapConductor/ios-icons.git
